#mobile{
	display: none;
}
#desktop{
    width: 100%;
    margin: 0px auto;
    position:relative;
	font-family: 'Dosis', sans-serif;
}

  
.kali{
    margin-top: 5%;
    margin-left: 5%;
    position:absolute;
    top:0;
    left:0;
    width:7rem;
    height:7rem;
		background-color:#0e194c;
		opacity: 0.8;
		padding: 10px 20px 10px 22px;
		border-radius: 15%;
}

.ann1{
    margin-top: 10%;
    margin-left: 25%;
    position:absolute;
    top:0;
    left:0;
    width:800px;
    height:20px;

    font-size: 35px;
	text-align: center;
}
.ann2{
    margin-top: 13%;
    margin-left: 26%;
    position:absolute;
    top:0;
    left:0;
    width:800px;
    height:20px;
    /* color: white; */
    font-size: 35px;
	text-align: center;
}
.nav2{
    margin-top: 5%;
    margin-left: 26%;
    position:absolute;
    top:0;
    left:0;
    width:800px;
    height:20px;
    color: black;
    font-size: 17px;
	text-align: center;
}
.nav2 a:link, a:visited {

    color: red;
    padding: 5px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
	opacity: 0.7;
	background-color: #0e194c;
	border-radius: 15%;
}

.nav a{
	/* color:white; */
}
.nav2 a:hover, a:active {
    background-color:red;
		color: #0e194c;
}

/* #abu{
	border-top-left-radius: 25%;
	border-bottom-left-radius: 25%;
}

#con{
	border-top-right-radius: 25%;
	border-bottom-right-radius: 25%;
} */


/* body{
   font: 400 12px/1 'Helvetica Neue', Helvetica, Arial, sans-serif;
background-color: RED;
}
.page{
  margin:0 auto;
  padding-top:20em;
  width: 800px;
}
#home-news{
  font-size: 40px;
	text-align:center;
	text-transform:uppercase;
	color:#464646;
	height: 45px;
	line-height: 45px;
	overflow:hidden;
	position:relative;
} */

.ann2{
    margin-top: 13%;
    margin-left: 26%;
    position:absolute;
    top:0;
    left:0;
    width:800px;
    height:20px;
    /* color: white; */
    font-size: 35px;
	text-align: center;
}
.home_header {
	position:absolute;
	/* width:100%; */
	z-index:99;
	/* color:#000; */
	/* text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3); */
}
.home_header_on {
	z-index:100;
}.home_header strong {
	color: white;
}.home_header span, .home_header strong {
	position:relative;
	top:-50px;
}.home_header_on *:nth-child(1) {
	 top: 0;
	-webkit-transition: top .6s ease-in-out;
	-moz-transition: top .6s ease-in-out;
	 transition: top .6s ease-in-out;
}.home_header_on *:nth-child(2) {
	top: 0;
	-webkit-transition: top .6s ease-in-out .15s;
	-moz-transition: top .6s ease-in-out .15s;
	transition: top .6s ease-in-out .15s;
}.home_header_on *:nth-child(3) {
	top: 0;
	-webkit-transition: top .6s ease-in-out .3s;
	-moz-transition: top .6s ease-in-out .3s;
	transition: top .6s ease-in-out .3s;
}.home_header_out *:nth-child(1) {
	top: 50px;
	-webkit-transition: top .6s ease-in-out;
	-webkit-transition: top .6s ease-in-out;
	-moz-transition: top .6s ease-in-out;
}.home_header_out *:nth-child(2) {
	top: 50px;
	-webkit-transition: top .6s ease-in-out .15s;
	-moz-transition: top .6s ease-in-out .15s;
	transition: top .6s ease-in-out .15s;
}.home_header_out *:nth-child(3) {
	top: 50px;
	-webkit-transition: top .6s ease-in-out .3s;
	-moz-transition: top .6s ease-in-out .3s;
	transition: top .6s ease-in-out .3s;
}
